$primary: #10B981;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/functions";

.profile-huge-font{
    font-size: 4.5rem !important;
    font-weight: 200;
}
html{
    min-width: 310px;
}
.profile-skill{

    svg{
        margin-left: 0.5rem;
        fill:white;
    }
    svg:hover{
        fill: red;
        cursor: pointer;
    }
        
}

.profile-svgs{

    svg:{

    }
    svg:hover{
        fill: $secondary;
        cursor: pointer;
    }
}