$primary: #10B981;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/functions";

.profile-huge-font{
    font-size: 4.5rem !important;
    font-weight: 200;
}


