$primary: #10B981;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/functions";

.profile-huge-font{
    font-size: 4.5rem !important;
    font-weight: 200;
}

.profile-skill{
    border: 1px solid $secondary;
    svg{
        margin-left: 0.2rem;
    }
    svg:hover{
        fill: red;
        cursor: pointer;
    }
        
}
